/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px hwb(0 0% 100%);
    background-color: #3c7b78;
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  #digitalartcode {
    width: 500px;
  }

  .pseudocode {
    text-align: left;
    border: solid 1px; #000000;
    background-color: #1c2622;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    background-color: #ac47a4;
  }
  