

body {
    background-color: #ac47a4;
    margin-bottom: 1px;
  }



.minor-section {
    background-color: #44355B;
    color: #9494ec;
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 3px #9494ec;
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.special {
    font-weight: bold;
    color: grey;
    background-color: pink;
}  

