


body {
    background-color: #277e9b;
    margin-bottom: 1px;
  }

.minor-section {
    background-color: #e6b2db;
    color: #094c46;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    border: dotted 5px #639b99;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#output p {
  margin-top: 0;
  margin-bottom: 0;
}
