/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #f0f0f0;
    background-color: #61232c;
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .JSCode {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    background-color: #ac47a4;
  }
  