
body {
    background-color: #ac47a4;
    margin-bottom: 1px;
  }

.minor-section {
    background-color: #e69fd8;
    color: #4747c0;
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 3px #9494ec;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(77, 154, 213);
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
  }