/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #0e3972;
  }

  #my-file-structure {
    width: 500px;
  }
  
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #d48fc4;
    background-color: #6224c2;
    color: #d48fc4;
    text-align: center;
  }