
h1 {
    color: #78316a;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


body {
    background-color: #6bc582;
    margin-bottom: 1px;
  }

.minor-section {
    background-color: #be1a9d;
    color: #75f996;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    border: dotted 5px #f713d8;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#input {
    width: 210px;
}

#button {
    border: 3px, dotted, #75f996;
    color: #be1a9d;
}
