.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 1px #000000;
    background-color: #387e2c;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }